[submodule "harbour-lib"]
	path = harbour-lib
	url = https://github.com/monich/harbour-lib.git
[submodule "libdbuslog"]
	path = logger/src/libdbuslog
	url = https://github.com/monich/libdbuslog.git
[submodule "libglibutil"]
	path = logger/src/libglibutil
	url = https://github.com/monich/libglibutil.git
[submodule "libqofonoext"]
	path = ofono/src/libqofonoext
	url = https://github.com/monich/libqofonoext.git
[submodule "libconnman-qt"]
	path = libconnman-qt
	url = https://github.com/monich/libconnman-qt.git
