[Desktop Entry]
Type=Application
Name=NFC Logger
Name[ru]=Журнал NFC
X-Nemo-Application-Type=silica-qt5
Icon=harbour-logger-nfc
Exec=harbour-logger-nfc
