[Desktop Entry]
Type=Application
Name=NFC Logger
Name[ru]=NFC лог
X-Nemo-Application-Type=silica-qt5
Icon=harbour-logger-nfc
Exec=harbour-logger-nfc

[X-HarbourBackup]
BackupConfigList=/apps/harbour-logger-nfc/
