[Desktop Entry]
Type=Application
Name=NFC Logger
Name[ru]=NFC лог
X-Nemo-Application-Type=silica-qt5
Icon=openrepos-logger-nfc
Exec=openrepos-logger-nfc

[X-HarbourBackup]
BackupConfigList=/apps/openrepos-logger-nfc/

[X-Sailjail]
Sandboxing=Disabled
