[Desktop Entry]
Type=Application
Name=Ofono Log
Name[ru]=Ofono лог
X-Nemo-Application-Type=silica-qt5
Icon=harbour-logger-ofono
Exec=harbour-logger-ofono

[X-HarbourBackup]
BackupConfigList=/apps/harbour-logger-ofono/
