[Desktop Entry]
Type=Application
Name=Ofono Log
Name[ru]=Ofono лог
X-Nemo-Application-Type=silica-qt5
Icon=openrepos-logger-ofono
Exec=openrepos-logger-ofono

[X-HarbourBackup]
BackupConfigList=/apps/openrepos-logger-ofono/

[X-Sailjail]
Sandboxing=Disabled
